body {
  margin: 0;
  background-color: black;
}



#board {
  margin-top: 50px;
  margin-left: 50px;
  border: solid;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

/*.mountain {
  border-bottom: 60px solid #1e90ff;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	height: 0;
	width: 50px;
  position : absolute;
  background-color: rgba(0, 0, 0, 0);
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5)); filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #10E201, 0 0 30px #10E201, 0 0 40px #10E201, 0 0 55px #10E201, 0 0 75px #10E201;
}*/

.hunter {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: +5;
}
.hunter img {
  border: solid;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 55px #ff0000, 0 0 75px #ff0000;

}

.players {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: +2;
}
.players img {
  filter: invert(100%);
  background-color: white;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 55px #ff0000, 0 0 75px #ff0000;
}

.score {
  font-family: 'Iceland', sans-serif;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
}
.rules{
  font-size: 20px;
}
.score .prey{
  font-size: 80px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #34a1a1, 0 0 30px #34a1a1, 0 0 40px #34a1a1, 0 0 55px #34a1a1, 0 0 75px #34a1a1;
}
.playerIcon {
  margin-left: 40px;
  width: 50px;
  height: 50px;
  filter: invert(100%);
  background-color: white;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 55px #ff0000, 0 0 75px #ff0000;
}
.score .oni {
  font-size: 80px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 55px #ff0000, 0 0 75px #ff0000;
}
.hunterIcon {
  margin-left: 40px;
  width: 50px;
  height: 50px;
  border: solid;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 55px #ff0000, 0 0 75px #ff0000;
}
.score {
  font-size: 30px;
}
.zqsd {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #34a1a1, 0 0 30px #34a1a1, 0 0 40px #34a1a1, 0 0 55px #34a1a1, 0 0 75px #34a1a1;
}
.oklm {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 55px #ff0000, 0 0 75px #ff0000;
}
